
button{
    border-radius: 10px;
    font-size: 16px;
    width: 80px;
    height: 60px;
    
}

h2{
    text-align: center;
}

.buttons{
    width: 60%;
    /* display: flex;
    justify-content: center; */
}

.main-button{
    display: flex;
    justify-content: center;
}

.buttons div{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.new{
    display: flex;
    justify-content: center;
}